.github/
.settings/
.vs/
.vscode/
.work/
obj/
src/
tools/
*.aps
*.user
.editorconfig
.gitignore
.gitmodules
.gitattributes
.npmignore
.prettierignore
.prettierrc.yml
.tool-versions
npm-debug.log
yarn.lock
yarn-error.log
babel.config.json
babel.config.*.json
eslint.config.mjs
jest.config.mjs
tsconfig.json
tsconfig.*.json
